<div class="container">
  <div class="row">
    <div class="col text-center">
      <img src="img/photo.png" alt="feast" class="img-thumbnail rounded-circle" width="200px" />
      <h1 class="display-4">fathan abdul</h1>
      <p class="lead">hacktiv8 student</p>
    </div>
  </div>
</div>
