<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NodeJS Web Server</title>
  </head>
  <body>
    <h3>links</h3>
    <ul>
      <li>
        <a href="/">home</a>
      </li>
      <li>
        <a href="/about">about</a>
      </li>
    </ul>
    <h1>NodeJS Web Server</h1>
    <% const nama = 'fathan abdul' %>
    <h2>halo <%= nama %></h2>
  </body>
</html>
